/*
deviations.css - deviations from the OOCSS styles, one-offs, this should be looked at with scrutiny
*/

.items, .characters{
	width:150px;
	max-height: 300px;
}

#dlc, #initial, #children, #skills, #feClasses{
	display: inline-block;
	border:1px solid black;
}
